.services-section{


    .services-group{
      width: 90%;
      margin: 0 auto;

        .services-tittle{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
            margin-top: 5%;

            h2{
              font-size: 32px;
              font-weight: 400;
            }
            p{
                color: rgb(140, 140, 140);
            }
        }
    }

    .country-cards-group{
        width: 100%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2,1fr);
        row-gap: 20px;

        .country-cards{
          display: flex;
          flex-direction: column;
          gap: 20px;
            h6{
             font-size: 16px;
             font-weight: 400;
             color: rgb(89, 89, 89);
            }

            p{
                width: 83.33%;
              color: rgb(140, 140, 140);
              
            }
        }
    }
}


@media (max-width: 960px){
    .services-section{
        .services-group{
            width: 83.33%;

            .country-cards-group{
                grid-template-columns: repeat(2,50%);
                grid-template-rows: repeat(4,1fr);

                .country-cards{
                    .p-d-none{
                        display: none;
                    }
                }
            }
            .services-tittle{
                width: 100%;
                h2{
                    font-size: 24px;
                }
            }
        }
    }
}